body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 1.2rem;
}

input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
input::-webkit-search-cancel-button {
  display: none;
}
input::-webkit-search-decoration {
  display: none;
}

/* Header */
/* Search bar */
#search__area {
  position: relative;
  background-color: white;
  padding: 5px 15px;
  border-radius: 30px;
}

#search__area input {
  border: none;
  width: calc(100% - 120px);
}

#search__area input:focus {
  outline: none;
}

#search__area button {
  position: absolute;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
  border: none;
  background-color: #ea1c00;
  width: 40px;
  height: 100%;
  border-radius: 0 30px 30px 0;
  top: 0;
  right: 0;
}

#search__area button:hover {
  color: #000;
}
